@import url('https://rsms.me/inter/inter.css');
body { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
    body { font-family: 'Inter var', sans-serif; }
}

@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400i,700&display=swap');

@tailwind base;

@tailwind components;

@tailwind utilities;

.font-serif {
    font-family: 'Playfair Display', sans-serif !important;
}

.paragraph {
    @apply font-light leading-loose;
}

.section-title {
    @apply text-5xl font-bold text-gray-700 mb-8;
}


.section {
    @apply py-4 mb-12;
}

.nav-link {
    @apply py-4 block text-gray-600 antialiased;
    transition: all 300ms;
}

.nav-link.active {
    @apply font-semibold text-gray-700;
    transition: all 300ms;
}

.nav-link > span.mx-2 {
    display: none;
    transition: all 300ms;
}

.nav-link.active > span.mx-2 {
    display: inline;
    transition: all 300ms;
}